<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reset password</title>
</head>

<body>
  <h1>{{nameProject}}</h1>
  <h3>Hello {{name}}</h3>
  <p>
    Someone has requested a link to change your password. You can do this through the link below.
  </p>
  <p>
    <a href="{{url}}reset-password/{{hash}}" target="_blank">Reset my password</a>
  </p>
  <small>
    If you didn't request this, please ignore this email. Your password won't change until you access the link above and
    create a new one.
  </small>
  <p>Kind regards,<br />{{nameProject}} Team</p>
</body>

</html>